In [13]:
import pandas as pd
import math
met = pd.read_csv('Meteorite_Landings (2).csv')

In [2]:
met.columns

Index(['name', 'id', 'nametype', 'recclass', 'mass (g)', 'fall', 'year',
       'reclat', 'reclong', 'GeoLocation'],
      dtype='object')

In [3]:
del met['nametype']

In [4]:
met.columns

Index(['name', 'id', 'recclass', 'mass (g)', 'fall', 'year', 'reclat',
       'reclong', 'GeoLocation'],
      dtype='object')

In [6]:
met.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   recclass     45716 non-null  object
 3   mass (g)     45585 non-null  float64
 4   fall         45716 non-null  object
 5   year         45425 non-null  float64
 6   reclat       38401 non-null  float64
 7   reclong      38401 non-null  float64
 8   GeoLocation  38401 non-null  object
dtypes: float64(4), int64(1), object(4)
memory usage: 3.1+ MB

In [9]:
met['mass (g)'] = met['mass (g)'].fillna (0)

In [10]:
met.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   recclass     45716 non-null  object
 3   mass (g)     45716 non-null  float64
 4   fall         45716 non-null  object
 5   year         45425 non-null  float64
 6   reclat       38401 non-null  float64
 7   reclong      38401 non-null  float64
 8   GeoLocation  38401 non-null  object
dtypes: float64(4), int64(1), object(4)
memory usage: 3.1+ MB

In [11]:
met.dropna(subset=['year'],inplace=True)
# %m/%d/%Y")
met.year.isnull().any()

False

In [14]:
decades = []
writer = pd.ExcelWriter('Meteorite Landings by Decade.xlsx',engine = 'xlsxwriter')
for each in met.year.unique():
    years_list = []
    year = (math.floor(each / 10) * 10)
    years_list.append(year)
    year = year + 9
    years_list.append(year)
    decades.append(years_list)

decades_list = set(tuple(x) for x in decades)
decades_list = list(sorted(decades_list))

for i in range(len(decades_list)):
    df = met[met['year'].between(decades_list[i][0], decades_list[i][1], inclusive='both')]
    df = df.sort_values(by=['year','name'])
    df.year = df.year.astype(int)
    df.year = df.year.astype(str)
    df.to_excel(writer,sheet_name = f'{decades_list[i][0]}-{decades_list[i][1]}',index=False)
writer.save()

ValueError: cannot convert float NaN to integer