In [1]:
import pandas as pd

In [27]:
df = pd.read_csv('2021-11-ml-09-k-means-animals-dataset.csv')

In [29]:
df

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Delta 15 N (o/oo),Delta 13 C (o/oo)
0,39.1,18.7,181.0,3750.0,NaN,NaN
1,39.5,17.4,186.0,3800.0,8.94956,-24.69454
2,40.3,18.0,195.0,3250.0,8.36821,-25.33302
3,NaN,NaN,NaN,NaN,NaN,NaN
4,36.7,19.3,193.0,3450.0,8.76651,-25.32426
...,...,...,...,...,...,...
339,NaN,NaN,NaN,NaN,NaN,NaN
340,46.8,14.3,215.0,4850.0,8.41151,-26.13832
341,50.4,15.7,222.0,5750.0,8.30166,-26.04117
342,45.2,14.8,212.0,5200.0,8.24246,-26.11969
343,49.9,16.1,213.0,5400.0,8.36390,-26.15531

In [28]:
#Drop Useless columns
df.drop('Comments',axis=1,inplace=True)
df.drop('Individual ID',axis=1,inplace=True)
df.drop('Region',axis=1,inplace=True)
df.drop('Stage',axis=1,inplace=True)

In [33]:
#dealing with Nan
df.dropna(axis=0, thresh=6, inplace=True)
df.isna().sum()

Culmen Length (mm)     0
Culmen Depth (mm)      0
Flipper Length (mm)    0
Body Mass (g)          0
Delta 15 N (o/oo)      0
Delta 13 C (o/oo)      0
dtype: int64

In [36]:
df.shape

(330, 6)

In [17]:
from sklearn.model_selection import train_test_split

In [34]:
#2 clusters

kmeans = KMeans(n_clusters=2, random_state=0).fit(df)