In [22]:
import pandas as pd
import datetime

In [2]:
music = pd.read_csv('ml-03-data-processing-songs-dataset.csv')
music

,Index,Title,Artist,Top Genre,Year,Month,Beats Per Minute (BPM),Energy,Danceability,Loudness (dB),Liveness,Valence,Length (Duration),Acousticness,Speechiness,Popularity
0,1,Sunrise,Norah Jones,adult standards,2004.0,10,157.0,30.0,53.0,-14.0,11.0,68.0,201,94.0,3.0,71.0
1,2,Black Night,Deep Purple,album rock,2000.0,3,135.0,79.0,50.0,-11.0,17.0,81.0,207,17.0,7.0,39.0
2,3,Clint Eastwood,Gorillaz,alternative hip hop,2001.0,6,168.0,69.0,66.0,-9.0,7.0,52.0,341,2.0,17.0,69.0
3,4,The Pretender,Foo Fighters,alternative metal,2007.0,1,173.0,96.0,43.0,-4.0,3.0,37.0,269,0.0,4.0,76.0
4,5,Waitin' On A Sunny Day,Bruce Springsteen,classic rock,2002.0,8,106.0,82.0,58.0,-5.0,10.0,87.0,256,1.0,3.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,1990,Heartbreak Hotel,Elvis Presley,adult standards,1958.0,4,94.0,21.0,NaN,-12.0,11.0,72.0,128,84.0,7.0,63.0
1990,1991,Hound Dog,Elvis Presley,adult standards,1958.0,6,175.0,76.0,NaN,-8.0,76.0,95.0,136,73.0,6.0,69.0
1991,1992,Johnny B. Goode,Chuck Berry,blues rock,1959.0,4,168.0,80.0,NaN,-9.0,31.0,97.0,162,74.0,7.0,74.0
1992,1993,Take Five,The Dave Brubeck Quartet,bebop,1959.0,10,174.0,26.0,45.0,-13.0,7.0,60.0,324,54.0,4.0,65.0
1993,1994,Blueberry Hill,Fats Domino,adult standards,1959.0,6,133.0,50.0,49.0,-10.0,16.0,83.0,148,74.0,3.0,56.0

In [3]:
music.dtypes

Index                       int64
Title                      object
Artist                     object
Top Genre                  object
Year                      float64
Month                      object
Beats Per Minute (BPM)    float64
Energy                    float64
Danceability              float64
Loudness (dB)             float64
Liveness                  float64
Valence                   float64
Length (Duration)          object
Acousticness              float64
Speechiness               float64
Popularity                float64
dtype: object

In [4]:
music['Month'].unique()

array(['10', '3', '6', '1', '8', '2', '9', '12', '11', '4', '7', '5',
       'Jan', 'Dec', 'Sep', 'Apr', 'Jun', 'May'], dtype=object)

In [5]:
music['Length (Duration)'].unique()

array(['201', '207', '341', '269', '256', '247', '257', '366', '223',
       '290', '162', '232', '214', '639', '173', '236', '288', '276',
       '352', '296', '218', '176', '197', '261', '270', '298', '259',
       '306', '310', '211', '186', '185', '264', '202', '263', '266',
       '629', '177', '237', '278', '331', '355', '213', '234', '216',
       '275', '467', '243', '219', '305', '215', '144', '195', '240',
       '357', '297', '281', '273', '212', '279', '249', '229', '394',
       '375', '226', '210', '258', '283', '231', '268', '403', '321',
       '217', '308', '206', '208', '242', '326', '199', '225', '193',
       '302', '294', '238', '433', '324', '154', '245', '248', '311',
       '272', '289', '253', '181', '184', '203', '280', '146', '196',
       '204', '602', '353', '189', '423', '233', '135', '141', '241',
       '262', '346', '319', '284', '501', '287', '170', '187', '171',
       '414', '252', '209', '364', '246', '235', '161', '274', '286',
       '172', '404', '239', '244', '291', '251', '260', '190', '122',
       '336', '228', '222', '267', '220', '139', '227', '277', '125',
       '335', '386', '376', '150', '174', '317', '343', '192', '137',
       '345', '303', '136', '295', '194', '224', '451', '347', '332',
       '250', '282', '312', '200', '322', '198', '379', '230', '205',
       '183', '330', '320', '140', '328', '182', '221', '165', '188',
       '285', '339', '265', '526', '175', '809', '315', '158', '255',
       '301', '163', '148', '304', '484', nan, '373', '456', '532', '299',
       '159', '348', '167', '468', '254', '293', '155', '384', '157',
       '405', '598', '382', '427', '318', '358', '180', '360', '391',
       '671', '152', '191', '179', '292', '455', '620', '168', '160',
       '309', '147', '344', '663', '444', '166', '483', '435', '1,412',
       '271', '300', '342', '471', '502', '517', '377', '443', '108',
       '388', '511', '350', '581', '102', '153', '1,121', '387', '559',
       '383', '469', '575', '313', '421', '349', '169', '333', '1,367',
       '410', '149', '354', '811', '508', '428', '367', '576', '325',
       '525', '715', '445', '513', '323', '362', '399', '134', '371',
       '653', '334', '488', '590', '314', '93', '457', '448', '327',
       '138', '365', '351', '361', '966', '489', '452', '859', '407',
       '478', '408', '458', '409', '521', '340', '368', '156', '417',
       '434', '419', '356', '506', '178', '515', '401', '338', '418',
       '406', '142', '446', '390', '659', '337', '395', '536', '389',
       '393', '564', '385', '438', '374', '316', '378', '527', '411',
       '396', '430', '164', '126', '370', '127', '123', '120', '703',
       '151', '130', '413', '450', '449', '1,292', '119', '128'],
      dtype=object)

In [6]:
music = music.replace(to_replace="Jan",value='1')
music = music.replace(to_replace="Dec",value='12')
music = music.replace(to_replace="Apr",value='4')
music = music.replace(to_replace="Jun",value='6')
music = music.replace(to_replace="May",value='5')
music = music.replace(to_replace="Sep",value='9')

In [7]:
#changed format with commas and drop na
music["Length (Duration)"] = music["Length (Duration)"].str.replace(',','')
music .dropna(subset=["Length (Duration)"],inplace=True)

In [8]:
#change data types
music['Month']=music['Month'].astype(int)
music['Length (Duration)']=music['Length (Duration)'].astype(float) #fix comma

In [9]:
music.dtypes

Index                       int64
Title                      object
Artist                     object
Top Genre                  object
Year                      float64
Month                       int32
Beats Per Minute (BPM)    float64
Energy                    float64
Danceability              float64
Loudness (dB)             float64
Liveness                  float64
Valence                   float64
Length (Duration)         float64
Acousticness              float64
Speechiness               float64
Popularity                float64
dtype: object

In [10]:
#check null
music.isnull().sum()

Index                        0
Title                        1
Artist                       3
Top Genre                    3
Year                         4
Month                        0
Beats Per Minute (BPM)       3
Energy                       4
Danceability              1015
Loudness (dB)                3
Liveness                     1
Valence                   1026
Length (Duration)            0
Acousticness                 3
Speechiness                  0
Popularity                   2
dtype: int64

In [11]:
music.shape

(1985, 16)

In [13]:
#thresh is number of non null values
music.drop(['Danceability'],axis=1,inplace=True)
music.drop(['Valence'],axis=1,inplace=True)

In [14]:
music.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1985 entries, 0 to 1993
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   1985 non-null   int64
 1   Title                   1984 non-null   object
 2   Artist                  1982 non-null   object
 3   Top Genre               1982 non-null   object
 4   Year                    1981 non-null   float64
 5   Month                   1985 non-null   int32
 6   Beats Per Minute (BPM)  1982 non-null   float64
 7   Energy                  1981 non-null   float64
 8   Loudness (dB)           1982 non-null   float64
 9   Liveness                1984 non-null   float64
 10  Length (Duration)       1985 non-null   float64
 11  Acousticness            1982 non-null   float64
 12  Speechiness             1985 non-null   float64
 13  Popularity              1983 non-null   float64
dtypes: float64(9), int32(1), int64(1), object(3)
memory usage: 224.9+ KB

In [15]:
music.dropna(axis=0, thresh=8, inplace=True)
music.iloc[663]

Index                                  666
Title                          Love & Hate
Artist                    Michael Kiwanuka
Top Genre                     british soul
Year                                2016.0
Month                                    9
Beats Per Minute (BPM)               170.0
Energy                                49.0
Loudness (dB)                         -8.0
Liveness                              17.0
Length (Duration)                    427.0
Acousticness                          16.0
Speechiness                            3.0
Popularity                            66.0
Name: 665, dtype: object

In [16]:
music.describe()

,Index,Year,Month,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,Popularity
count,1982.000000,1981.000000,1982.000000,1981.000000,1981.000000,1981.000000,1982.000000,1982.000000,1982.000000,1982.000000,1982.000000
mean,995.980323,1959.439677,6.519173,120.238768,59.641090,-9.018173,19.026741,262.616549,28.927851,4.991423,59.506559
std,576.240108,251.024147,3.420015,28.652640,22.177314,3.652130,16.751677,93.819708,29.041309,4.410239,14.374163
min,1.000000,92.000000,1.000000,15.000000,3.000000,-27.000000,2.000000,93.000000,0.000000,2.000000,11.000000
25%,496.250000,1978.000000,4.000000,99.000000,42.000000,-11.000000,9.000000,212.000000,3.000000,3.000000,49.000000
50%,994.500000,1994.000000,7.000000,119.000000,61.000000,-9.000000,12.000000,245.000000,18.000000,4.000000,62.000000
75%,1494.750000,2007.000000,9.000000,136.000000,78.000000,-6.000000,23.000000,290.000000,50.000000,5.000000,71.000000
max,1994.000000,2019.000000,12.000000,305.000000,100.000000,-2.000000,99.000000,1412.000000,99.000000,55.000000,100.000000

In [17]:
music['Year'][300]

2004.0

In [18]:
#outliers for year
def removeout(column,mean,stddev):
    for i in range (0,len(music[f'{column}'])):
        if music[f'{column}'][i] <=((3*stddev)+mean):
            music[f'{column}'][i] = 0
        if music[f'{column}'][i] >=((3*stddev)+mean):
            music[f'{column}'][i] = 0

In [20]:
music['Year'].unique()

array([2004., 2000., 2001., 2007., 2002., 2006., 2003., 2005., 2009.,
       2008., 2010., 2011., 2012., 2013., 2014., 2015., 2016., 2017.,
       2018., 2019., 1970., 1971., 1972.,   nan, 1973., 1974., 1975.,
       1976., 1977., 1978., 1979., 1980., 1981., 1982., 1983., 1984.,
       1985., 1986., 1987., 1988., 1989., 1990., 1991.,   92., 1993.,
       1994., 1995., 1996., 1997., 1998., 1999., 1960., 1961., 1962.,
       1963., 1964., 1965., 1966., 1967., 1968., 1969., 1956., 1958.,
       1959.])

In [21]:
removeout(music['Year'],1959.439677,251.024147)

KeyError: '0       2004.0\n1       2000.0\n2       2001.0\n3       2007.0\n4       2002.0\n         ...  \n1989    1958.0\n1990    1958.0\n1991    1959.0\n1992    1959.0\n1993    1959.0\nName: Year, Length: 1982, dtype: float64'