In [5]:
import pandas as pd
books = pd.read_csv('books.csv')

In [6]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         10000 non-null  int64
 1   book_id                    10000 non-null  int64
 2   best_book_id               10000 non-null  int64
 3   work_id                    10000 non-null  int64
 4   books_count                10000 non-null  int64
 5   isbn                       9300 non-null   object
 6   isbn13                     9415 non-null   float64
 7   authors                    10000 non-null  object
 8   original_publication_year  9979 non-null   float64
 9   original_title             9415 non-null   object
 10  title                      10000 non-null  object
 11  language_code              8916 non-null   object
 12  average_rating             10000 non-null  float64
 13  ratings_count              10000 non-null  int64
 14  work_ratings_count         10000 non-null  int64
 15  work_text_reviews_count    10000 non-null  int64
 16  ratings_1                  10000 non-null  int64
 17  ratings_2                  10000 non-null  int64
 18  ratings_3                  10000 non-null  int64
 19  ratings_4                  10000 non-null  int64
 20  ratings_5                  10000 non-null  int64
 21  image_url                  10000 non-null  object
 22  small_image_url            10000 non-null  object
dtypes: float64(3), int64(13), object(7)
memory usage: 1.8+ MB

In [7]:
books['isbn'].fillna('NA',inplace=True)

In [8]:
len(books[books.isbn.isna()])

0

In [9]:
books['isbn13'].fillna('NA',inplace=True)

In [10]:
len(books[books.isbn13.isna()])

0

In [11]:
books['language_code'].fillna('NA',inplace=True)

In [12]:
len(books[books.language_code.isna()])

0

In [14]:
books = pd.read_csv('books.csv')

books = books.dropna(subset = ['isbn', 'isbn13', 'language_code','original_publication_year'])

books['isbn13'] = books['isbn13'].astype('int64').astype('str')



def func(string):

    string = '{}-{}-{}-{}-{}'.format(string[0:3],string[3:4],string[4:9],string[9:12],string[12:])

    return string



books['isbn13'] = books['isbn13'].apply(func)



books['isbn13']

0       978-0-43902-348-0
1       978-0-43955-493-0
2       978-0-31601-584-0
3       978-0-06112-008-0
4       978-0-74327-356-0
              ...
9994    978-1-41652-373-0
9995    978-0-44101-946-0
9996    978-0-67973-371-0
9997    978-0-39330-763-0
9998    978-0-06171-153-0
Name: isbn13, Length: 8225, dtype: object

In [15]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8225 entries, 0 to 9998
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         8225 non-null   int64
 1   book_id                    8225 non-null   int64
 2   best_book_id               8225 non-null   int64
 3   work_id                    8225 non-null   int64
 4   books_count                8225 non-null   int64
 5   isbn                       8225 non-null   object
 6   isbn13                     8225 non-null   object
 7   authors                    8225 non-null   object
 8   original_publication_year  8225 non-null   float64
 9   original_title             7860 non-null   object
 10  title                      8225 non-null   object
 11  language_code              8225 non-null   object
 12  average_rating             8225 non-null   float64
 13  ratings_count              8225 non-null   int64
 14  work_ratings_count         8225 non-null   int64
 15  work_text_reviews_count    8225 non-null   int64
 16  ratings_1                  8225 non-null   int64
 17  ratings_2                  8225 non-null   int64
 18  ratings_3                  8225 non-null   int64
 19  ratings_4                  8225 non-null   int64
 20  ratings_5                  8225 non-null   int64
 21  image_url                  8225 non-null   object
 22  small_image_url            8225 non-null   object
dtypes: float64(2), int64(13), object(8)
memory usage: 1.5+ MB

In [18]:
books.insert(23, 'different_titles', 0)

In [19]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8225 entries, 0 to 9998
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         8225 non-null   int64
 1   book_id                    8225 non-null   int64
 2   best_book_id               8225 non-null   int64
 3   work_id                    8225 non-null   int64
 4   books_count                8225 non-null   int64
 5   isbn                       8225 non-null   object
 6   isbn13                     8225 non-null   object
 7   authors                    8225 non-null   object
 8   original_publication_year  8225 non-null   float64
 9   original_title             7860 non-null   object
 10  title                      8225 non-null   object
 11  language_code              8225 non-null   object
 12  average_rating             8225 non-null   float64
 13  ratings_count              8225 non-null   int64
 14  work_ratings_count         8225 non-null   int64
 15  work_text_reviews_count    8225 non-null   int64
 16  ratings_1                  8225 non-null   int64
 17  ratings_2                  8225 non-null   int64
 18  ratings_3                  8225 non-null   int64
 19  ratings_4                  8225 non-null   int64
 20  ratings_5                  8225 non-null   int64
 21  image_url                  8225 non-null   object
 22  small_image_url            8225 non-null   object
 23  different_titles           8225 non-null   int64
 24  different titles           8225 non-null   int64
dtypes: float64(2), int64(15), object(8)
memory usage: 1.6+ MB

In [20]:
books.loc[books['title'] != books['Different Titles'], 'DifferentTitles'] = '1'
books.loc[books['title'] == books['Different Titles'], 'SameTitles'] = '0'

KeyError: 'Different Titles'

In [21]:
def authorsplit(string):

    string = '{}-{}-{}-{}-{}'.format(string[0:3],string[3:4],string[4:9],string[9:12],string[12:])

    return string

In [ ]:
# drop for remove columns or attributes