In [1]:
################# Exercise Data Processing #################

import pandas as pd
df = pd.read_csv('ml-03-data-processing-songs-dataset.csv')
df.shape

(1994, 16)

In [2]:
# Number of null values in each column
df.isnull().sum()

Index                        0
Title                        3
Artist                       8
Top Genre                    8
Year                         7
Month                        0
Beats Per Minute (BPM)       9
Energy                       8
Danceability              1024
Loudness (dB)                7
Liveness                     8
Valence                   1034
Length (Duration)            9
Acousticness                 8
Speechiness                  4
Popularity                   7
dtype: int64

In [3]:
# Delete rows with 50% or more null values
for i in range(len(df)):
    null_values = df.loc[[i]].isna().sum().sum()
    if null_values >= len(df.columns)/2:
        df.drop([i],inplace=True)
df.shape

(1981, 16)

In [4]:
df.isnull().sum()

Index                        0
Title                        0
Artist                       0
Top Genre                    0
Year                         0
Month                        0
Beats Per Minute (BPM)       0
Energy                       0
Danceability              1011
Loudness (dB)                0
Liveness                     0
Valence                   1022
Length (Duration)            0
Acousticness                 0
Speechiness                  0
Popularity                   0
dtype: int64

In [5]:
# Delete columns with 50% or more null values
df.drop(['Danceability','Valence'],axis=1,inplace=True)
df.isna().sum()

Index                     0
Title                     0
Artist                    0
Top Genre                 0
Year                      0
Month                     0
Beats Per Minute (BPM)    0
Energy                    0
Loudness (dB)             0
Liveness                  0
Length (Duration)         0
Acousticness              0
Speechiness               0
Popularity                0
dtype: int64

In [6]:
# Descriptive Statistics for Each Column
df = df.reset_index(drop=True)
df.describe()

,Index,Year,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Acousticness,Speechiness,Popularity
count,1981.000000,1981.000000,1981.000000,1981.000000,1981.000000,1981.000000,1981.000000,1981.000000,1981.000000
mean,996.035336,1959.439677,120.238768,59.641090,-9.018173,19.009086,28.933872,4.992428,59.499243
std,576.380399,251.024147,28.652640,22.177314,3.652130,16.737453,29.047404,4.411125,14.374101
min,1.000000,92.000000,15.000000,3.000000,-27.000000,2.000000,0.000000,2.000000,11.000000
25%,496.000000,1978.000000,99.000000,42.000000,-11.000000,9.000000,3.000000,3.000000,49.000000
50%,995.000000,1994.000000,119.000000,61.000000,-9.000000,12.000000,18.000000,4.000000,62.000000
75%,1495.000000,2007.000000,136.000000,78.000000,-6.000000,23.000000,50.000000,5.000000,71.000000
max,1994.000000,2019.000000,305.000000,100.000000,-2.000000,99.000000,99.000000,55.000000,100.000000

In [7]:
# Find outliers in each column
import numpy as np
stats_cols = df.describe().columns

for i in range(len(stats_cols)):
    outlier_list = []
    three_std = 3 * df[stats_cols[i]].std()
    mean = df[stats_cols[i]].mean()
    for j in range(len(df)):
        col_value = df.at[j,stats_cols[i]]
        if col_value > (mean + three_std) or col_value < (mean - three_std):
            # Replace outliers with NAN
            df.at[j,stats_cols[i]] = np.nan
            outlier_list.append(str(col_value))
    outliers = ', '.join(outlier_list)
    if outlier_list != []:
        print(f'{stats_cols[i]} has {len(outlier_list)} outliers: {outliers}\n')
    else: 
        print(f'{stats_cols[i]} has no outliers!\n')

Index has no outliers!

Year has 35 outliers: 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0, 92.0

Beats Per Minute (BPM) has 4 outliers: 18.0, 305.0, 15.0, 297.0

Energy has no outliers!

Loudness (dB) has 22 outliers: -21.0, -20.0, -22.0, -22.0, -20.0, -20.0, -24.0, -20.0, -21.0, -22.0, -24.0, -27.0, -21.0, -21.0, -22.0, -21.0, -21.0, -20.0, -21.0, -22.0, -22.0, -21.0

Liveness has 57 outliers: 81.0, 70.0, 93.0, 79.0, 70.0, 97.0, 70.0, 83.0, 72.0, 97.0, 97.0, 87.0, 96.0, 71.0, 99.0, 92.0, 78.0, 95.0, 71.0, 90.0, 81.0, 95.0, 87.0, 91.0, 85.0, 89.0, 76.0, 73.0, 72.0, 85.0, 73.0, 86.0, 76.0, 73.0, 82.0, 77.0, 97.0, 85.0, 99.0, 78.0, 98.0, 96.0, 93.0, 85.0, 94.0, 77.0, 91.0, 96.0, 84.0, 97.0, 76.0, 73.0, 92.0, 80.0, 76.0, 83.0, 76.0

Acousticness has no outliers!

Speechiness has 42 outliers: 25.0, 26.0, 30.0, 23.0, 24.0, 19.0, 24.0, 20.0, 39.0, 23.0, 20.0, 19.0, 32.0, 19.0, 24.0, 44.0, 30.0, 24.0, 25.0, 31.0, 20.0, 46.0, 38.0, 55.0, 22.0, 23.0, 32.0, 36.0, 19.0, 31.0, 26.0, 28.0, 30.0, 20.0, 30.0, 29.0, 31.0, 19.0, 27.0, 32.0, 39.0, 41.0

Popularity has 9 outliers: 16.0, 14.0, 15.0, 13.0, 16.0, 16.0, 15.0, 12.0, 11.0

In [8]:
# Check if outliers were removed
df.isnull().sum()

Index                      0
Title                      0
Artist                     0
Top Genre                  0
Year                      35
Month                      0
Beats Per Minute (BPM)     4
Energy                     0
Loudness (dB)             22
Liveness                  57
Length (Duration)          0
Acousticness               0
Speechiness               42
Popularity                 9
dtype: int64

In [9]:
# Year is a categorical column, so we impute the missing values with the mode:
from sklearn.impute import SimpleImputer
mode_impute = SimpleImputer(missing_values = np.nan, strategy='most_frequent')
mode_impute.fit(df[['Year']])
df['Year'] = mode_impute.transform(df[['Year']])

# Check if NAN Year values were removed
df.isnull().sum()

Index                      0
Title                      0
Artist                     0
Top Genre                  0
Year                       0
Month                      0
Beats Per Minute (BPM)     4
Energy                     0
Loudness (dB)             22
Liveness                  57
Length (Duration)          0
Acousticness               0
Speechiness               42
Popularity                 9
dtype: int64

In [10]:
# The other missing values are continuous, so we use impute the values using the mean:
mean_impute = SimpleImputer(missing_values = np.nan, strategy='mean')
mean_impute.fit(df[['Beats Per Minute (BPM)','Loudness (dB)','Liveness','Speechiness','Popularity']])
df[['Beats Per Minute (BPM)','Loudness (dB)','Liveness','Speechiness','Popularity']] = mean_impute.transform(df[['Beats Per Minute (BPM)','Loudness (dB)','Liveness','Speechiness','Popularity']])

# Check if outliers were removed
df.isnull().sum()

Index                     0
Title                     0
Artist                    0
Top Genre                 0
Year                      0
Month                     0
Beats Per Minute (BPM)    0
Energy                    0
Loudness (dB)             0
Liveness                  0
Length (Duration)         0
Acousticness              0
Speechiness               0
Popularity                0
dtype: int64

In [11]:
# Combine Month and Year Columns into Date Column
import datetime
df['Date'] = df['Month'] + '-' + df['Year'].astype(int).astype(str)
df['Date'] = pd.to_datetime(df['Date'],infer_datetime_format=True)


# Convert Today's Date into a Timestamp object
todays_date_timestamp = pd.to_datetime(datetime.datetime.now()) 


# Create Age Column by Subtracting Today's Date from df.Date
# Convert to Number of Days using timedelta64, then Divide by 365 to get Age in Years
df['Age'] = (todays_date_timestamp - df['Date']).astype('timedelta64[D]')/365 


# Drop Every Time-related column except Age
df.drop(['Date','Month','Year'],axis=1,inplace=True)

df.columns

Index(['Index', 'Title', 'Artist', 'Top Genre', 'Beats Per Minute (BPM)',
       'Energy', 'Loudness (dB)', 'Liveness', 'Length (Duration)',
       'Acousticness', 'Speechiness', 'Popularity', 'Age'],
      dtype='object')

In [12]:
# Preview of Age Column
df.head(5)

,Index,Title,Artist,Top Genre,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,Popularity,Age
0,1,Sunrise,Norah Jones,adult standards,157.0,30.0,-14.0,11.0,201,94.0,3.0,71.0,17.578082
1,2,Black Night,Deep Purple,album rock,135.0,79.0,-11.0,17.0,207,17.0,7.0,39.0,22.167123
2,3,Clint Eastwood,Gorillaz,alternative hip hop,168.0,69.0,-9.0,7.0,341,2.0,17.0,69.0,20.915068
3,4,The Pretender,Foo Fighters,alternative metal,173.0,96.0,-4.0,3.0,269,0.0,4.0,76.0,15.326027
4,5,Waitin' On A Sunny Day,Bruce Springsteen,classic rock,106.0,82.0,-5.0,10.0,256,1.0,3.0,59.0,19.747945

In [13]:
# Create Dummy Variables
# df.iloc[row_start:row_end , col_start,col_end]

# Get K-1 Dummies using drop_first = True 
df = pd.get_dummies(df, columns=['Title','Artist','Top Genre'], drop_first=True)
df.head()

,Index,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,Popularity,Age,...,Top Genre_reggae,Top Genre_reggae fusion,Top Genre_rock-and-roll,Top Genre_scottish singer-songwriter,Top Genre_soft rock,Top Genre_stomp and holler,Top Genre_streektaal,Top Genre_trance,Top Genre_uk pop,Top Genre_yacht rock
0,1,157.0,30.0,-14.0,11.0,201,94.0,3.0,71.0,17.578082,...,0,0,0,0,0,0,0,0,0,0
1,2,135.0,79.0,-11.0,17.0,207,17.0,7.0,39.0,22.167123,...,0,0,0,0,0,0,0,0,0,0
2,3,168.0,69.0,-9.0,7.0,341,2.0,17.0,69.0,20.915068,...,0,0,0,0,0,0,0,0,0,0
3,4,173.0,96.0,-4.0,3.0,269,0.0,4.0,76.0,15.326027,...,0,0,0,0,0,0,0,0,0,0
4,5,106.0,82.0,-5.0,10.0,256,1.0,3.0,59.0,19.747945,...,0,0,0,0,0,0,0,0,0,0

In [14]:
################# Exercise Model Training #################

# Target Variable is Popularity
from sklearn.model_selection import train_test_split
 
X, y = df.loc[:, df.columns != 'Popularity'], df.Popularity

#Split dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [15]:
X_train.describe()

,Index,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Acousticness,Speechiness,Age,Title_(Everything I Do) I Do It For You,Title_(I Can't Get No) Satisfaction - Mono Version,...,Top Genre_reggae,Top Genre_reggae fusion,Top Genre_rock-and-roll,Top Genre_scottish singer-songwriter,Top Genre_soft rock,Top Genre_stomp and holler,Top Genre_streektaal,Top Genre_trance,Top Genre_uk pop,Top Genre_yacht rock
count,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.0,...,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.0
mean,997.313853,119.714750,59.413420,-8.918948,17.131780,29.160173,4.495680,28.595038,0.000722,0.0,...,0.004329,0.002886,0.000722,0.000722,0.000722,0.000722,0.000722,0.000722,0.000722,0.0
std,577.096931,27.553025,22.060928,3.417642,12.529708,29.429331,2.497758,16.215911,0.026861,0.0,...,0.065676,0.053663,0.026861,0.026861,0.026861,0.026861,0.026861,0.026861,0.026861,0.0
min,1.000000,54.000000,3.000000,-19.000000,2.000000,0.000000,2.000000,2.402740,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,501.250000,99.000000,43.000000,-11.000000,9.000000,3.000000,3.000000,13.994521,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,1004.500000,119.000000,61.000000,-8.876978,12.000000,18.000000,4.000000,27.005479,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,1504.750000,135.000000,77.000000,-6.000000,21.000000,51.000000,5.000000,42.931507,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,1994.000000,206.000000,100.000000,-2.000000,69.000000,98.000000,18.000000,64.112329,1.000000,0.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [16]:
X_test.describe()

,Index,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Acousticness,Speechiness,Age,Title_(Everything I Do) I Do It For You,Title_(I Can't Get No) Satisfaction - Mono Version,...,Top Genre_reggae,Top Genre_reggae fusion,Top Genre_rock-and-roll,Top Genre_scottish singer-songwriter,Top Genre_soft rock,Top Genre_stomp and holler,Top Genre_streektaal,Top Genre_trance,Top Genre_uk pop,Top Genre_yacht rock
count,595.000000,595.000000,595.000000,595.000000,595.000000,595.000000,595.000000,595.000000,595.0,595.000000,...,595.000000,595.0,595.0,595.000000,595.0,595.0,595.0,595.0,595.0,595.000000
mean,993.057143,121.200000,60.171429,-8.779212,16.924913,28.406723,4.457692,28.562712,0.0,0.001681,...,0.003361,0.0,0.0,0.001681,0.0,0.0,0.0,0.0,0.0,0.001681
std,575.181564,28.610916,22.455812,3.345946,11.658059,28.154922,2.406129,16.347556,0.0,0.040996,...,0.057928,0.0,0.0,0.040996,0.0,0.0,0.0,0.0,0.0,0.040996
min,3.000000,37.000000,5.000000,-19.000000,3.000000,0.000000,2.000000,2.652055,0.0,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
25%,485.000000,100.500000,42.000000,-11.000000,9.000000,4.000000,3.000000,14.076712,0.0,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
50%,968.000000,119.000000,61.000000,-8.000000,13.000000,18.000000,4.000000,27.419178,0.0,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
75%,1475.000000,137.500000,80.000000,-6.000000,21.000000,48.500000,5.000000,42.428767,0.0,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
max,1993.000000,197.000000,99.000000,-2.000000,69.000000,99.000000,18.000000,65.778082,0.0,1.000000,...,1.000000,0.0,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,1.000000

In [17]:
y_train.describe()

count    1386.000000
mean       59.693532
std        13.975619
min        17.000000
25%        50.000000
50%        62.000000
75%        71.000000
max       100.000000
Name: Popularity, dtype: float64

In [18]:
y_test.describe()

count    595.000000
mean      59.734652
std       14.214528
min       17.000000
25%       50.000000
50%       62.000000
75%       70.000000
max       87.000000
Name: Popularity, dtype: float64