In [1]:
import pandas as pd

In [ ]:
#melt function helpful for structure 
#https://towardsdatascience.com/wide-to-long-data-how-and-when-to-use-pandas-melt-stack-and-wide-to-long-7c1e0f462a98

In [2]:
primary = pd.read_csv('API_primary.csv')
secondary = pd.read_csv('API_secondary.csv')
pmetadata = pd.read_csv('Metadata_primary.csv')
smetadata = pd.read_csv('Metadata_secondary.csv')

In [3]:
primarytotal = primary.merge(pmetadata,how='inner',on='Country Code')

In [4]:
secondarytotal = secondary.merge(smetadata,how='inner',on='Country Code')

In [5]:
primarytotal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 265 entries, 0 to 264
Data columns (total 70 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    265 non-null    object
 1   Country Code    265 non-null    object
 2   Indicator Name  265 non-null    object
 3   Indicator Code  265 non-null    object
 4   1960            0 non-null      float64
 5   1961            0 non-null      float64
 6   1962            0 non-null      float64
 7   1963            0 non-null      float64
 8   1964            0 non-null      float64
 9   1965            0 non-null      float64
 10  1966            0 non-null      float64
 11  1967            0 non-null      float64
 12  1968            0 non-null      float64
 13  1969            0 non-null      float64
 14  1970            46 non-null     float64
 15  1971            100 non-null    float64
 16  1972            104 non-null    float64
 17  1973            103 non-null    float64
 18  1974            110 non-null    float64
 19  1975            111 non-null    float64
 20  1976            122 non-null    float64
 21  1977            122 non-null    float64
 22  1978            121 non-null    float64
 23  1979            115 non-null    float64
 24  1980            117 non-null    float64
 25  1981            122 non-null    float64
 26  1982            117 non-null    float64
 27  1983            126 non-null    float64
 28  1984            125 non-null    float64
 29  1985            121 non-null    float64
 30  1986            116 non-null    float64
 31  1987            122 non-null    float64
 32  1988            128 non-null    float64
 33  1989            119 non-null    float64
 34  1990            119 non-null    float64
 35  1991            122 non-null    float64
 36  1992            131 non-null    float64
 37  1993            127 non-null    float64
 38  1994            135 non-null    float64
 39  1995            126 non-null    float64
 40  1996            123 non-null    float64
 41  1997            112 non-null    float64
 42  1998            110 non-null    float64
 43  1999            169 non-null    float64
 44  2000            171 non-null    float64
 45  2001            171 non-null    float64
 46  2002            174 non-null    float64
 47  2003            166 non-null    float64
 48  2004            175 non-null    float64
 49  2005            178 non-null    float64
 50  2006            167 non-null    float64
 51  2007            173 non-null    float64
 52  2008            176 non-null    float64
 53  2009            176 non-null    float64
 54  2010            175 non-null    float64
 55  2011            178 non-null    float64
 56  2012            185 non-null    float64
 57  2013            187 non-null    float64
 58  2014            186 non-null    float64
 59  2015            181 non-null    float64
 60  2016            184 non-null    float64
 61  2017            178 non-null    float64
 62  2018            173 non-null    float64
 63  2019            173 non-null    float64
 64  2020            109 non-null    float64
 65  Region          217 non-null    object
 66  IncomeGroup     216 non-null    object
 67  SpecialNotes    123 non-null    object
 68  TableName       265 non-null    object
 69  Unnamed: 5      0 non-null      float64
dtypes: float64(62), object(8)
memory usage: 147.0+ KB

In [6]:
primarytotalworld = primarytotal[primarytotal['Country Code'] == 'WLD']

In [7]:
primarytotalworld.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 258 to 258
Data columns (total 70 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    1 non-null      object
 1   Country Code    1 non-null      object
 2   Indicator Name  1 non-null      object
 3   Indicator Code  1 non-null      object
 4   1960            0 non-null      float64
 5   1961            0 non-null      float64
 6   1962            0 non-null      float64
 7   1963            0 non-null      float64
 8   1964            0 non-null      float64
 9   1965            0 non-null      float64
 10  1966            0 non-null      float64
 11  1967            0 non-null      float64
 12  1968            0 non-null      float64
 13  1969            0 non-null      float64
 14  1970            1 non-null      float64
 15  1971            1 non-null      float64
 16  1972            1 non-null      float64
 17  1973            1 non-null      float64
 18  1974            1 non-null      float64
 19  1975            1 non-null      float64
 20  1976            1 non-null      float64
 21  1977            1 non-null      float64
 22  1978            1 non-null      float64
 23  1979            1 non-null      float64
 24  1980            1 non-null      float64
 25  1981            1 non-null      float64
 26  1982            1 non-null      float64
 27  1983            1 non-null      float64
 28  1984            1 non-null      float64
 29  1985            1 non-null      float64
 30  1986            1 non-null      float64
 31  1987            1 non-null      float64
 32  1988            1 non-null      float64
 33  1989            1 non-null      float64
 34  1990            1 non-null      float64
 35  1991            1 non-null      float64
 36  1992            1 non-null      float64
 37  1993            1 non-null      float64
 38  1994            1 non-null      float64
 39  1995            1 non-null      float64
 40  1996            1 non-null      float64
 41  1997            1 non-null      float64
 42  1998            1 non-null      float64
 43  1999            1 non-null      float64
 44  2000            1 non-null      float64
 45  2001            1 non-null      float64
 46  2002            1 non-null      float64
 47  2003            1 non-null      float64
 48  2004            1 non-null      float64
 49  2005            1 non-null      float64
 50  2006            1 non-null      float64
 51  2007            1 non-null      float64
 52  2008            1 non-null      float64
 53  2009            1 non-null      float64
 54  2010            1 non-null      float64
 55  2011            1 non-null      float64
 56  2012            1 non-null      float64
 57  2013            1 non-null      float64
 58  2014            1 non-null      float64
 59  2015            1 non-null      float64
 60  2016            1 non-null      float64
 61  2017            1 non-null      float64
 62  2018            1 non-null      float64
 63  2019            1 non-null      float64
 64  2020            1 non-null      float64
 65  Region          0 non-null      object
 66  IncomeGroup     0 non-null      object
 67  SpecialNotes    1 non-null      object
 68  TableName       1 non-null      object
 69  Unnamed: 5      0 non-null      float64
dtypes: float64(62), object(8)
memory usage: 568.0+ bytes

In [8]:
primaryworldtotal = primarytotal[primarytotal['Country Code'] == 'WLD']
new_list=[]
for i in range(2000,2021):
    new_list.append(primaryworldtotal[f'{i}'])
    print(list)

print(type(new_list[1]))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'pandas.core.series.Series'>

In [9]:
print(type(list[1]))

<class 'types.GenericAlias'>

In [10]:
#created dataframe for list (change to object dataframe) series to dataframe

newlist=pd.DataFrame(list)
print(newlist)

ValueError: DataFrame constructor not properly called!

In [ ]:
print(type(newlist))

In [ ]:
newlist.columns

In [ ]:
#Question 1

import matplotlib.pyplot as plt
ax=newlist.plot.bar()
plt.xlabel('year')
plt.ylabel('Primary completion rate (% of relevant age group)')
plt.ylim([80,95])     #y limit
plt.title('Primary completion rate percentage based on year')

ax.get_legend().remove()

In [ ]:
#primarytotal is the merge
#show different income levels


pt50 = primarytotal.groupby('IncomeGroup')['2018'].describe().sort_values('50%')      #.sort_values('median'), sort_values only on dataframes
print(type(pt50))
ptmedian = pt50['50%']

In [ ]:
#Question 2
axpt=ptmedian.plot.bar()

plt.ylabel('median primary completion rate (% of relevant age group)')
plt.ylim([50,100])     #y limit
plt.title('primary completion rate by income level')

#ax.get_legend().remove()

In [ ]:
st50 = secondarytotal.groupby('IncomeGroup')['2018'].describe().sort_values('50%')      #.sort_values('median'), sort_values only on dataframes
#print(st50)
print(type(st50))
stmedian = st50['50%']

In [ ]:
#Question 3
axst=stmedian.plot.bar()

plt.ylabel('median secondary school enrollment (%net)')
plt.ylim([0,100])     #y limit
plt.title('Secondary School Enrollment by income level')

In [ ]:
psworldtotal = secondarytotal[secondarytotal['Country Code'] == 'WLD']
list2=[]
for i in range(2000,2019):
    list2.append(psworldtotal[f'{i}'])
    print(list2)

In [ ]:
newlist2=pd.DataFrame(list2)     #Data frame version for the values by year
print(newlist2)

In [ ]:
newlist2.index

In [ ]:
newlist2['Year']=newlist2.index    #create newcolumn for the years
print(newlist2)

In [ ]:
newlist['Year']=newlist.index
print(newlist)

In [ ]:
thefinallist = newlist.merge(newlist2,how='inner',on='Year')
thefinallist.rename(columns={"258_x":"PrimaryCompletion","258_y":"SecondaryEnrollment"},inplace=True)
print(thefinallist)

In [ ]:
theactualfinalfinallist = thefinallist[['PrimaryCompletion','SecondaryEnrollment']]
print(theactualfinalfinallist)

In [ ]:
plt.scatter(theactualfinalfinallist['PrimaryCompletion'], theactualfinalfinallist['SecondaryEnrollment'])
plt.title('Secondary Enrollment vs Primary Completion')
plt.xlabel('Primary Completion (% of relevant age group)')
plt.ylabel('Secondary Enrollment (%net)');