In [2]:
#1
#What are all of the supported payment methods for each place?

import pandas as pd
supp_payments = pd.read_csv('chefmozaccepts.csv')
supp_payments.Rpayment.value_counts()

cash                   500
MasterCard-Eurocard    194
VISA                   172
American_Express       153
bank_debit_cards       130
Visa                    83
Diners_Club             42
Discover                11
checks                  10
Carte_Blanche            7
gift_certificates        7
Japan_Credit_Bureau      5
Name: Rpayment, dtype: int64

In [3]:
#2 What are the parking statuses for each place?

parking_options = pd.read_csv('chefmozparking.csv')
parking_options.parking_lot.value_counts()

none                 348
yes                  174
public               102
street                32
fee                   22
valet parking         21
validated parking      3
Name: parking_lot, dtype: int64

In [4]:
#3 What are the cuisines for each place?

cuisine = pd.read_csv('chefmozcuisine.csv')
cuisine.Rcuisine.value_counts()

Mexican                 239
International            62
American                 59
Dutch-Belgian            55
Italian                  42
Greek                    33
Bar                      32
French                   31
Cafe-Coffee_Shop         27
Pizzeria                 25
Bar_Pub_Brewery          24
Cafeteria                23
Chinese                  21
Fast_Food                20
Seafood                  18
Japanese                 17
German                   14
Family                   14
Mediterranean            13
Burgers                  13
Vegetarian               10
Deli-Sandwiches           9
Contemporary              9
Steaks                    8
Latin_American            7
Hot_Dogs                  7
Asian                     7
Bakery                    6
Juice                     6
Sushi                     6
Polish                    5
Armenian                  5
Continental-European      4
African                   3
Dessert-Ice_Cream         3
Southwestern              3
Diner                     3
Barbecue                  3
Spanish                   3
Regional                  3
Breakfast-Brunch          3
Vietnamese                2
Game                      2
Eastern_European          2
California                1
Bagels                    1
Turkish                   1
Organic-Healthy           1
Southern                  1
Caribbean                 1
Soup                      1
Ethiopian                 1
Persian                   1
Thai                      1
Korean                    1
Afghan                    1
Brazilian                 1
Mongolian                 1
Fine_Dining               1
Name: Rcuisine, dtype: int64

In [5]:
#4 What is the average rating, average food rating, average service rating, minimum food rating, minimum service rating, 
#and maximum service rating for the restaurants by cuisine?


r_ratings = pd.read_csv('rating_final.csv')
r_ratings = r_ratings[['rating','food_rating','service_rating']]
r_ratings.describe()

            rating  food_rating  service_rating
count  1161.000000  1161.000000     1161.000000
mean      1.199828     1.215332        1.090439
std       0.773282     0.792294        0.790844
min       0.000000     0.000000        0.000000
25%       1.000000     1.000000        0.000000
50%       1.000000     1.000000        1.000000
75%       2.000000     2.000000        2.000000
max       2.000000     2.000000        2.000000

In [13]:
#5 What are the payment methods preferred by social drinkers?

social_drinkers = pd.read_csv('userprofile.csv')
user_payment = pd.read_csv('userpayment.csv')
sdup = user_payment.merge(social_drinkers,how='inner',on='userID')
sdup = sdup[['userID','drink_level','Upayment']]
sdup = sdup[sdup.drink_level == 'social drinker']
sdup.Upayment.value_counts()

cash                   38
VISA                    8
bank_debit_cards        8
MasterCard-Eurocard     2
Name: Upayment, dtype: int64

In [14]:
#6 What are the cuisines preferred by eco-friendly users?

ecof = pd.read_csv('userprofile.csv')
user_cuisine = pd.read_csv('usercuisine.csv')
ecoc = user_cuisine.merge(ecof,how='inner',on="userID")
ecoc = ecoc[['userID','Rcuisine','interest']]
ecoc = ecoc[ecoc.interest == 'eco-friendly']
ecoc.Rcuisine.value_counts()

Mexican             12
Contemporary         3
American             2
Cafe-Coffee_Shop     2
Japanese             1
Italian              1
Diner                1
Hot_Dogs             1
Australian           1
Bar                  1
Cafeteria            1
Family               1
Latin_American       1
Burgers              1
Afghan               1
Doughnuts            1
Chinese              1
Portuguese           1
Sushi                1
Regional             1
Polish               1
Polynesian           1
Barbecue             1
Moroccan             1
Lebanese             1
Eastern_European     1
Indian-Pakistani     1
Fusion               1
Pizzeria             1
Name: Rcuisine, dtype: int64

In [16]:
#7 What payment methods are preferred by students?


students = pd.read_csv('userprofile.csv')
user_payment = pd.read_csv('userpayment.csv')
sdup = user_payment.merge(students,how='inner',on='userID')
sdup = sdup[['userID','activity','Upayment']]
sdup = sdup[sdup.activity == 'student']
sdup.Upayment.value_counts()

cash                   109
VISA                    12
bank_debit_cards        10
American_Express         1
MasterCard-Eurocard      1
Name: Upayment, dtype: int64

In [23]:
#8 What cuisines are preferred by Catholic students?

students = pd.read_csv('userprofile.csv')
user_cuisine = pd.read_csv('usercuisine.csv')
suc = user_cuisine.merge(students,how='inner',on='userID')
suc = suc[['userID','activity','religion','Rcuisine']]
suc = suc[suc.activity == 'student']
suc = suc[suc.religion =='Catholic']
suc.Rcuisine.value_counts()

Mexican             62
American             8
Family               7
Cafe-Coffee_Shop     7
Cafeteria            7
                    ..
German               1
Persian              1
Ethiopian            1
Romanian             1
Southern             1
Name: Rcuisine, Length: 103, dtype: int64